.search {
  animation: moveInTop 0.2s ease-out;
  border-top: 1px solid rgb(233, 147, 66);
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;
}

.search__main {
  align-items: center;
  display: flex;
  gap: 7px;
}

.search__input {
  background-color: var(--gray-primary);
  border: none;
  border-radius: 7px;
  color: white;
  flex: 1 0 70%;
  font-size: 0.9rem;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0 10px;
  width: 100%;
}

.search__input:focus {
  border: 2px solid var(--orange-primary);
  outline: none;
}

.search__filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search__label {
  color: var(--white-primary);
  display: flex;
  font-size: 0.75rem;
  margin: 0;
  text-transform: uppercase;
}

.search__checkbox {
  margin-right: 5px;
  margin-top: 2px;
}

.search__checkbox:after {
  background-color: var(--white-primary);
  border: 2px solid var(--white-primary);
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 15px;
  left: -1px;
  position: relative;
  top: 0;
  width: 15px;
}

.search__checkbox:checked:after {
  background-color: var(--orange-primary);
  border: 2px solid var(--white-primary);
  border-radius: 15px;
  content: '';
  display: inline-block;
  height: 15px;
  left: -1px;
  position: relative;
  top: 0;
  width: 15px;
}

.search__btn {
  font-size: 0.9rem;
  margin-top: 2px;
  padding: 0 10px;
  width: 100%;
}

@keyframes moveInTop {

  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
